h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

<<<<<<< Updated upstream
img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

body {
  height: 100%;

  font-style: normal;
  font-family: var(--text-main);
  color: var(--color-design-main);
  font-weight: var(--text-bold);
}

body.modal-open {
  overflow: hidden;
}

button {
  cursor: pointer;
=======
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
>>>>>>> Stashed changes
}

.list {
  list-style: none;
<<<<<<< Updated upstream
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
}
=======
}
>>>>>>> Stashed changes
