::-webkit-scrollbar {
  width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 2%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-style: normal;
  font-family: var(--text-main);
  color: var(--color-design-main);
  font-weight: var(--text-bold);
}

body.modal-open {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
}
