// Скрывает полосу прокрутки
::-webkit-scrollbar {
  width: 0px;
}
.team-modal {
  .dev-team {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      display: inline-block;
      padding: 10px;
      border: 2px solid orange;
    }
  }

  .dev-list {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    // Добавить в общие стили
    list-style: none;
    margin: 0;
    padding: 0;

    .dev-items {
      padding: 20px;
      margin: 10px;

      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);

      font-size: 16px;

      img {
        display: block;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 50%;
        object-fit: cover;
        width: 150px;
        height: 150px;
      }

      .position {
        color: rgb(247, 128, 18);
      }

      .dev-info {
        text-align: center;
      }
    }
  }
}

.social-link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #545454;

  li:not(:last-child) {
    margin-right: 10px;
  }
}
