// Скрывает полосу прокрутки
::-webkit-scrollbar {
  width: 0px;
}

// .backdrop-dev {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.2);
// }
.modal-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 900px;
  height: 568px;
  overflow-y: scroll;
  background-color: #fff;

  .dev-team {
    text-align: center;
    h2 {
      display: inline-block;
      padding: 10px;
      border: 2px solid orange;
    }
  }

  .button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    .icon-close {
    }
  }

  .dev-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .dev-items {
      padding: 20px;
      margin: 10px;

      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);

      font-size: 16px;

      img {
        display: block;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 50%;
        object-fit: cover;
      }

      .position {
        color: rgb(247, 128, 18);
      }

      .dev-info {
        text-align: center;
      }
    }
  }
}

.social-link {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  li:not(:last-child) {
    margin-right: 10px;
  }
}
