@import './utils/variables';
@import './btn-authentication/btn-authentication';
@import './modal-authentication/modal-authentication';
@import './layouts/gallery-card';
@import './footer';
@import './base/common';
@import './base/container';
@import './layouts/gallery-item';
@import './layouts/movie-cards';
