@import './reset';
@import './base-styles';
@import './modal-footer';
@import './utils/variables';
@import './btn-authentication/btn-authentication';
@import './modal-authentication/modal-authentication';
@import './layouts/gallery-card';
@import './footer';
@import './base/common';
@import './base/container';
@import './components/modal-close-btn';
@import './layouts/gallery-item';
@import './layouts/modal-content';
@import './layouts/modal';
@import './layouts/movie-cards';
