/* ===========UTILS============================ */
@import './utils/variables';
@import './utils/is-hidden';
@import './utils/visually-hidden';

/* ===========BASE============================ */
@import './base/common';
@import './base/container';

/* ===========COMPONENTS============================ */
@import './btn-authentication/btn-authentication';
@import './components//modal';
@import './components//modal-movie';
@import './components/backdrop';
@import './components/button';
@import './components/modal-close-btn';

/* ===========LAYOUT============================ */
@import './layouts/header';
@import './layouts/gallery-notification';
@import './layouts/movie-cards';
@import './layouts/gallery-item';
@import './layouts/spinner';
@import './footer';

@import './layouts/modal-movie';

// @import './base-styles';
@import './modal-footer';
// @import './layouts/gallery-card';
// @import './components/modal-close-btn';
// @import './layouts/modal-content';
// @import './layouts/modal';
// @import './layouts/movie-cards';
// @import './layouts/card-overlay';
