<header>
          <div class="search">
      <form class="search-form js-search-form">
        <input
          class="search-control js-search-control"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Search movies..."
        />
        <button class="search__btn" type="submit">
          <svg class="search-icon">
            <use href="#"></use>
          </svg>
        </button>
        <div class="warning visually-hidden">
          Search result not successful. Enter the correct movie name and
        </div>
      </form>
    </div>
    </header>