<!-- <div class="lang-switcher">
    <span class="lang">EN</span>
    <input type="checkbox" id="langSwitch" name="lang-switch" class="lang-switch__input" />
    <label for="langSwitch" class="lang-switch__label">
        <span class="circle"></span>
    </label>
</div> -->

<!-- <div class="lang-switcher">
    <ul class="lang-list">
        <li class="lang"><a href="" class="lang-link lang-en">EN</a></li>
        <li class="lang"><a href="" class="lang-link lang-ru">RU</a></li>
    </ul>
</div> -->

<!-- <div class="lang-switcher">
    <span class="text-content">RU</span>
    <label class="checkbox" class="theme-switch__label">
      <input type="checkbox" class="theme-switch__input" id="language-switch-control" checked />
      <span class="text-content">EN</span>
    </label>
</div> -->

<div class="lang-switcher">
    <input type="checkbox" id="langSwitch" name="lang-switch" class="lang-switch__input" />
    <label for="langSwitch" class="lang-switch__label">
        <span class="circle"></span>
    </label>
</div>