<div class="backdrop is-hidden modal-footer-js">
  <div class="modal-footer">
    <div class="dev-team">
      <h2>Developer's Team</h2>
    </div>
    <button class="button-close" type="button">
      <svg class="icon-close" width='20px' height='20px'>
        <use href='./images/symbol-defs.svg#icon-close'></use>
      </svg>
    </button>
    <ul class="dev-list">
      <li class="dev-items">
        <img src="./images/gvozdik.png" alt="student" width="150px" height="150px" />
        <div class="dev-info">
          <b class="dev-name">ALEX GVOZDIK</b>
          <p class="position">Teamlead</p>
          <ul class="social-link">
            <li class="link-item">
              <a href="https://github.com/AlexGvozdik">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/feed/">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="dev-items">
        <img src="./images/yeliseeva.png" alt="student" width="150px" height="150px" />
        <div class="dev-info">
          <b class="dev-name">SVITLANA YELISIEIEVA</b>
          <p class="position">Scrum master</p>
          <ul class="social-link">
            <li class="link-item">
              <a href="https://github.com/yeliseyeva">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/in/svetlana-yeliseeva-28237221b/">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="dev-items">
        <img src="./images/putrova.png" alt="student" width="150px" height="150px" />
        <div class="dev-info">
          <b class="dev-name">JULIA PUTROVA</b>
          <p class="position">Developer</p>
          <ul class="social-link">
            <li class="link-item">
              <a href="https://github.com/JuliaPutrova">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="dev-items">
        <img src="./images/yanko.png" alt="student" width="150px" height="150px" />
        <div class="dev-info">
          <b class="dev-name">VLADYSLAV YANKO</b>
          <p class="position">Developer</p>
          <ul class="social-link">
            <li class="link-item">
              <a href="https://github.com/vladyslav-yanko">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/in/vladyslav-yanko-2b7386217">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="dev-items">
        <img src="./images/faryga.png" alt="student" width="150px" height="150px" />
        <div class="dev-info">
          <b class="dev-name">IVAN FARYGA</b>
          <p class="position">Developer</p>
          <ul class="social-link">
            <li class="link-item">
              <a href="https://github.com/Ivan-Faryga">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="dev-items">
        <img src="./images/severyn.png" alt="student" width="150px" height="150px" />
        <div class="dev-info">
          <b class="dev-name">ANATOLII SEVERYN</b>
          <p class="position">Developer</p>
          <ul class="social-link">
            <li class="link-item">
              <a href="https://github.com/AnatoliiSeveryn">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="dev-items">
        <img src="./images/glebov.png" alt="student" width="150px" height="150px" />
        <div class="dev-info">
          <b class="dev-name">DMITRIY GLEBOV</b>
          <p class="position">Developer</p>
          <ul class="social-link">
            <li class="link-item">
              <a href="https://github.com/CommanderCoolDev">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/in/dmitriy-glebov-9aa614210">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="dev-items">
        <img src="./images/rudnyk.png" alt="student" width="150px" height="150px" />
        <div class="dev-info">
          <b class="dev-name">ALEKSANDRA RUDNYK</b>
          <p class="position">Developer</p>
          <ul class="social-link">
            <li class="link-item">
              <a href="https://github.com/Aleksandra-Rud">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="dev-items">
        <img src="./images/makhnyk.png" alt="student" width="150px" height="150px" />
        <div class="dev-info">
          <b class="dev-name">VLADYSLAV MAKHNYK</b>
          <p class="position">Developer</p>
          <ul class="social-link">
            <li class="link-item">
              <a href="https://github.com/">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/">
                <svg width="22px" height="22px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
