.one-card {
  position: relative;
  overflow: hidden;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.one-card_overlay {
  display: flex;

  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 100%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(48, 49, 59, 0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.one-card:focus .one-card_overlay,
.one-card:hover .one-card_overlay {
  transform: translateY(100%);
}

.btn_one-card {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
}
.btn_one-card:focus,
.btn_one-card:hover {
  background-color: #ff6b01;
  color: #ffffff;
  cursor: pointer;
  border-color: #ff6b01;
}
.one-card__average {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  background-color: #ff6b01;
  border-radius: 5px;
}
